@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:400i,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

h6 {
  margin: 0;
}
h6 font {
  size: medium;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Inter", "Open Sans", "raleway", sans-serif;
}

a {
  text-decoration: none;
  columns: inherit;
  color: #000000;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}

/*---Debuts acceuil*/
/*---header*/
header {
  width: 100%;
  background-color: #77C1EF;
  color: #ffffff;
  display: flex;
  height: 50px;
}
header .contact {
  width: 81%;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
header .contact p {
  width: 100%;
  border-right: 2px solid #ffffff;
  text-align: center;
}
header .breadcontent {
  padding: 5px;
  margin-left: 35px;
  display: flex;
  align-items: center;
}
header .breadcontent #breadcumbs {
  color: #FFDF00;
  font-size: 40px;
  cursor: pointer;
}

/*---texte et image d'intro*/
.intro {
  display: flex;
  z-index: 3;
  width: 95%;
  height: 700px;
}
.intro .presentation {
  margin-top: 20px;
}
.intro .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  width: 40%;
}
.intro .text .animated_name {
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  padding-right: 8px;
  transform: translateY(50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
}
.intro .text .animated_name::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  background-color: #ffffff;
  border-left: 5px solid black;
  animation: typeWriter 4s steps(12) 2 both, typeWriter2 4s steps(12) 8s 1 both, clipCursor 500ms steps(12) infinite normal;
}
.intro .text .naming {
  display: flex;
  align-items: baseline;
}
.intro .text .naming .hello {
  color: #FFDF00;
  font-weight: bold;
}
.intro .text .naming p {
  font-size: 25px;
}
.intro .namingButtons {
  margin-top: 20px;
}
.intro .namingButtons .Btnhire {
  background-color: #77C1EF;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #999595;
  width: 100px;
  height: 45px;
  color: #ffffff;
  position: relative;
  padding: 13px;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
}
.intro .namingButtons .Btnhire:hover {
  color: #ffffff;
}
.intro .namingButtons .Btnhire:hover::after {
  opacity: 1;
}
.intro .namingButtons .Btnhire::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFDF00;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 15px #77C1EF;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms;
}
.intro .namingButtons .Btncv {
  border-color: #77C1EF;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 15px #77C1EF;
  width: 100px;
  height: 45px;
  color: #77C1EF;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.intro .namingButtons .Btncv:hover {
  color: #ffffff;
}
.intro .namingButtons .Btncv:hover::after {
  opacity: 1;
}
.intro .namingButtons .Btncv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #77C1EF;
  box-shadow: 2px 2px 15px #999595;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms;
}

.navFixed .titleDiv {
  display: flex;
  justify-content: center;
  text-align: center;
}
.navFixed .sectionTitles {
  padding-bottom: 10px;
  border-bottom: 5px solid #FFDF00;
  width: fit-content;
}

/*---aside*/
.floatingMenu {
  width: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 15px #F2F2F2;
  background-color: #ffffff;
  margin-left: 20px;
  position: absolute;
  top: 88px;
  right: 10px;
  padding: 15px;
  height: 75%;
  visibility: visible;
  transform: scale(1);
  transition: transform 300ms;
}
.floatingMenu:hover {
  box-shadow: 2px 2px 15px #77C1EF;
  transform: scale(1.1);
}
.floatingMenu .navContaint {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.floatingMenu .navContaint .navContain-bloc {
  height: 50%;
  width: 100%;
}
.floatingMenu a {
  width: 100%;
  padding: 5px;
  text-decoration: none;
}
.floatingMenu .navigation0 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
.floatingMenu .navigation0:hover .navHov0 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation0:hover .navHov1 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation0:hover .navHov2 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation0:hover .navHov3 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation0:hover .navHov4 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation0 .navHov0 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation0 .navHov1 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation0 .navHov2 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation0 .navHov3 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation0 .navHov4 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation0 p {
  width: 100%;
  color: #77C1EF;
  font-size: 15px;
  font-weight: bold;
}
.floatingMenu .navigation1 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
.floatingMenu .navigation1:hover .navHov0 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation1:hover .navHov1 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation1:hover .navHov2 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation1:hover .navHov3 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation1:hover .navHov4 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation1 .navHov0 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation1 .navHov1 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation1 .navHov2 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation1 .navHov3 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation1 .navHov4 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation1 p {
  width: 100%;
  color: #77C1EF;
  font-size: 15px;
  font-weight: bold;
}
.floatingMenu .navigation2 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
.floatingMenu .navigation2:hover .navHov0 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation2:hover .navHov1 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation2:hover .navHov2 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation2:hover .navHov3 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation2:hover .navHov4 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation2 .navHov0 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation2 .navHov1 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation2 .navHov2 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation2 .navHov3 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation2 .navHov4 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation2 p {
  width: 100%;
  color: #77C1EF;
  font-size: 15px;
  font-weight: bold;
}
.floatingMenu .navigation3 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
.floatingMenu .navigation3:hover .navHov0 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation3:hover .navHov1 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation3:hover .navHov2 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation3:hover .navHov3 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation3:hover .navHov4 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation3 .navHov0 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation3 .navHov1 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation3 .navHov2 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation3 .navHov3 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation3 .navHov4 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation3 p {
  width: 100%;
  color: #77C1EF;
  font-size: 15px;
  font-weight: bold;
}
.floatingMenu .navigation4 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}
.floatingMenu .navigation4:hover .navHov0 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation4:hover .navHov1 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation4:hover .navHov2 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation4:hover .navHov3 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation4:hover .navHov4 {
  height: 80px;
  opacity: 1;
  border-bottom: 2px solid #77C1EF;
}
.floatingMenu .navigation4 .navHov0 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation4 .navHov1 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation4 .navHov2 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation4 .navHov3 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation4 .navHov4 {
  content: "";
  border-width: 4px;
  border-left-style: solid;
  color: #77C1EF;
  height: 0px;
  transition: height 250ms linear;
  transform-origin: 50% 50%;
}
.floatingMenu .navigation4 p {
  width: 100%;
  color: #77C1EF;
  font-size: 15px;
  font-weight: bold;
}

/*---Debuts about Me*/
.AboutMe {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  z-index: 10;
}
.AboutMe img {
  width: 60%;
  height: 80%;
}
.AboutMe .IntroMe {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.AboutMe .IntroMe button {
  background-color: #77C1EF;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #999595;
  width: 100px;
  height: 45px;
  margin-top: 20px;
  color: #ffffff;
}
.AboutMe .IntroMe .textIntro .techskills {
  display: flex;
  align-items: center;
}
.AboutMe .IntroMe .textIntro .techskills p {
  margin-left: 20px;
  font-weight: bolder;
  font-size: small;
  text-transform: uppercase;
}
.AboutMe .IntroMe .textIntro .techskills h4 {
  font-weight: bold;
  color: #77C1EF;
  max-width: 75%;
  text-justify: auto;
  text-align: start;
  text-transform: uppercase;
}
.AboutMe .skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
}
.AboutMe .skillList .skills-1 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-1 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-1 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-1:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-1:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-1:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-1:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-1:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-1 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-2 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-2 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-2 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-2:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-2:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-2:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-2:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-2:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-2 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-3 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-3 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-3 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-3:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-3:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-3:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-3:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-3:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-3 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-4 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-4 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-4 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-4:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-4:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-4:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-4:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-4:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-4::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-4 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-5 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-5 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-5 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-5:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-5:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-5:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-5:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-5:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-5::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-5 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-6 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-6 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-6 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-6:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-6:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-6:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-6:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-6:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-6::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-6 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-7 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-7 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-7 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-7:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-7:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-7:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-7:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-7:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-7::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-7 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-8 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-8 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-8 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-8:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-8:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-8:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-8:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-8:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-8::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-8 p {
  visibility: hidden;
  display: none;
}
.AboutMe .skillList .skills-9 {
  border-radius: 10px;
  margin-top: 10px;
  width: 45px;
  height: 40px;
  max-width: 45px;
  max-height: 40px;
  background-color: #ffffff;
  background-image: "";
  justify-content: center;
  box-shadow: 2px 2px 15px #e6e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 300ms;
}
.AboutMe .skillList .skills-9 .skillOutlined {
  display: block;
}
.AboutMe .skillList .skills-9 .skillfilled {
  display: none;
}
.AboutMe .skillList .skills-9:hover {
  transform: scale(1.1);
}
.AboutMe .skillList .skills-9:hover .skillOutlined {
  display: none;
}
.AboutMe .skillList .skills-9:hover .skillfilled {
  display: block;
}
.AboutMe .skillList .skills-9:hover::after {
  opacity: 0;
}
.AboutMe .skillList .skills-9:hover p {
  position: absolute;
  bottom: 0;
  visibility: visible;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFDF00; /* Optionnel, pour un fond */
  margin: 0;
  padding: 5px;
}
.AboutMe .skillList .skills-9::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b5dff9;
  opacity: 0.4;
  border-radius: 10px;
  z-index: 3;
  transition: opacity 250ms;
}
.AboutMe .skillList .skills-9 p {
  visibility: hidden;
  display: none;
}
.AboutMe .abtTilte {
  display: flex;
  margin-top: 20px;
  align-items: baseline;
  opacity: 0;
  align-items: center;
}
.AboutMe .abtTilte hr {
  width: 30px;
  height: 3px;
  margin: 0;
  padding: 0;
  border-width: 0;
  background-color: #FFDF00;
  color: #FFDF00;
}
.AboutMe .abtTilte h3 {
  margin-left: 20px;
  color: #77C1EF;
  font-size: 20px;
  font-weight: bold;
}

/*Mes experiences*/
.experience_bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  align-items: center;
}
.experience_bloc .experience_bloc_content {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-left: 100px;
  width: 70%;
}

.techSkillList {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
}
.techSkillList .realist_type {
  background-color: #b5dff9;
  padding: 10px;
  border-radius: 100px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 10px;
  margin-top: 10px;
}
.techSkillList .realist_type p {
  color: #77C1EF;
  font-size: small;
  font-weight: 500;
}

/*mes services */
.servicePart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.servicePart .titleDiv {
  display: flex;
  justify-content: center;
  text-align: center;
}
.servicePart .sectionTitles {
  padding-bottom: 10px;
  border-bottom: 5px solid #FFDF00;
  width: fit-content;
}

.serviceDiv {
  display: flex;
  justify-content: center;
}
.serviceDiv .service {
  border-radius: 10px;
  margin-top: 10px;
  max-width: 240px;
  min-width: 240px;
  background-color: #77C1EF;
  box-shadow: 2px 2px 15px #e6e5e5;
  text-align: center;
  padding-bottom: 10px;
}
.serviceDiv .service .servIcon {
  background-color: #ffffff;
  max-width: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
.serviceDiv .service p {
  margin: 10px;
  max-height: 152px;
  min-height: 152px;
  font-size: 14px;
  font-weight: bold;
}
.serviceDiv .service i {
  color: #FFDF00;
  font-size: 90px;
}
.serviceDiv .service .etoilebleu i {
  font-size: 40px;
}
.serviceDiv .service .infoserv {
  color: #ffffff;
  font-weight: bolder;
  font-size: 25px;
}
.serviceDiv .service .fa-star {
  margin-top: 10px;
  color: #FFDF00;
}
.serviceDiv .service .fs {
  margin-top: 10px;
  color: #FFDF00;
  font-size: 60px;
}

/*Mes realisations*/
.myReals {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.myReals .carroussel-content {
  display: flex;
  width: 100%;
  padding: 20px;
  animation: scroll 100s linear infinite;
}
.myReals .carroussel-content .reaList {
  width: 480px;
  height: 350px;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
  margin-left: 20px;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms;
}
.myReals .carroussel-content .reaList:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 15px #e6e5e5;
  animation-play-state: running; /* Mettre en pause l'animation */
}
.myReals .carroussel-content .reaList:hover .carroussel-content {
  animation-play-state: paused;
}
.myReals .carroussel-content .reaList .imgBlock {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  background-color: #77C1EF;
  opacity: 0.8;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}
.myReals .carroussel-content .reaList .imgBlock:hover {
  background-color: #ffffff;
}
.myReals .carroussel-content .reaList .realist_info {
  display: flex;
  height: 30%;
  background-color: #F6F8FA;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}
.myReals .carroussel-content .reaList .realist_info .realist_info_content {
  width: 100%;
  height: 100%;
  padding: 0px 25px 0px 25px;
  align-items: center;
}
.myReals .carroussel-content .reaList .realist_info .realist_info_content .realist_info_tools {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.myReals .carroussel-content .reaList .realist_info .realist_info_content .realist_info_tools .realist_type {
  background-color: #b5dff9;
  padding: 5px;
  border-radius: 100px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.myReals .carroussel-content .reaList .realist_info .realist_info_content .realist_info_tools .realist_type img {
  width: 18px;
  height: 18px;
  margin-left: 10px;
}
.myReals .carroussel-content .reaList .realist_info .realist_info_content .realist_info_tools .realist_type p {
  color: #77C1EF;
}

/* Ajoutez une classe "paused" lorsque vous survolez un "realist" */
.carroussel-content {
  animation-play-state: running;
}

/* Redémarrez l'animation lorsque vous ne survolez plus un "realist" */
.carroussel-content:hover {
  animation-play-state: paused;
}

/*ContactUs*/
.contactUs {
  margin-top: 50px;
  color: #000000;
  height: 800px;
  position: relative;
}
.contactUs .footer_contact {
  margin-top: 40px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contactUs .footer_contact .footer_contact_containt {
  border-radius: 15px;
  box-shadow: 2px 2px 15px #999595;
  padding: 50px;
  z-index: 5;
  background: #ffffff;
}
.contactUs .footer_contact .formContaint {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFDF00;
}
.contactUs .footer_contact .formContaint h4 {
  margin: 0;
  padding: 0;
}
.contactUs .footer_contact .formContaint .myForm {
  width: 100%;
  margin-right: 30px;
}
.contactUs .footer_contact .formContaint .myForm .btn {
  background-color: #FFDF00;
  border-radius: 35px;
  border: 2px solid #ffffff;
  height: 45px;
  font-size: larger;
  font-weight: bold;
  color: #ffffff;
  align-items: flex-end;
  width: 50%;
}
.contactUs .footer_contact .formContaint .myForm .btn:hover {
  background-color: #ffffff;
  color: #FFDF00;
}
.contactUs .footer_contact .formContaint .myForm .form-control {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
  width: 100%;
}
.contactUs .footer_contact .formContaint .myForm .form-group {
  border: none;
}
.contactUs .foot-ContactUs {
  background-color: #ffffff;
  margin-top: 20px;
}
.contactUs .foot-ContactUs input, .contactUs .foot-ContactUs textarea {
  border: 1px solid #F5F5F5;
}
.contactUs .foot-ContactUs input:focus, .contactUs .foot-ContactUs textarea:focus {
  border-width: 1px;
  border-color: #77C1EF;
  outline: none;
}
.contactUs .foot-ContactUs input[type=text] {
  width: 100%;
  padding: 15px;
  background-color: #F5F5F5;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.contactUs .foot-ContactUs input[type=text]::placeholder {
  font-size: 15px;
}
.contactUs .foot-ContactUs textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.contactUs .foot-ContactUs input[type=button] {
  background-color: #77C1EF;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  width: 50%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}
.contactUs .contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 80px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #b5dff9;
  border: none;
  position: absolute;
  top: 543px;
  right: 0;
  left: 0;
}
.contactUs .contact-icons .icon-inforr {
  text-align: center;
  margin: 0 20px;
  width: 250px;
}
.contactUs .contact-icons .icon-inforr .icon {
  margin-bottom: 20px;
  cursor: pointer;
}
.contactUs .contact-icons .icon-inforr .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.buttonStyle2 {
  border-color: #77C1EF;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 15px #77C1EF;
  width: 100px;
  height: 45px;
}

/*footer*/
.footer {
  margin-top: 50px;
  color: #000000;
  border-top: 1px solid #b5dff9;
  /*hr{
      height: 200px;
      width: 2px;
      border-width: 0;
      background-color: $color-background;
      color: $color-background;

  }*/
}
.footer .footer_Social {
  width: 25%;
  height: 100%;
  margin-top: 40px;
  margin-left: 60px;
}
.footer .footer_Social .footer_info {
  height: 100%;
  margin-top: 20px;
}
.footer .footer_Social .footer_info .footer_info_content {
  display: flex;
  margin-top: 10px;
  align-content: start;
}
.footer .footer_Social .footer_info .footer_info_content i {
  color: #FFDF00;
}
.footer .footer_Social .footer_info .footer_info_content p {
  margin-left: 10px;
}
.footer .footer_Social .copyright {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
}
.footer .footer_Social .copyright i {
  margin-left: 20px;
}
.footer .footer_Social .copyright #id1 {
  font-size: 30px;
  color: #4078c0;
}
.footer .footer_Social .copyright #id1:hover {
  color: #77C1EF;
}
.footer .footer_Social .copyright #id2 {
  font-size: 30px;
  color: #0072b1;
}
.footer .footer_Social .copyright #id2:hover {
  color: #77C1EF;
}
.footer .footer_Social .copyright #id3 {
  font-size: 30px;
  color: #4267B2;
}
.footer .footer_Social .copyright #id3:hover {
  color: #77C1EF;
}
.footer .footer_Social .copyright #id4 {
  font-size: 30px;
  color: #4078c0;
}
.footer .footer_Social .copyright #id4:hover {
  color: #77C1EF;
}
.footer .footerInfo {
  text-align: center;
  width: 50%;
  margin-top: 40px;
}
.footer .footMenu {
  text-align: center;
  width: 100%;
  display: flex;
  gap: 20px;
}
.footer .footMenu p {
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
}
.footer .footMenu p:hover {
  color: #FFDF00;
  cursor: pointer;
}
.footer .footerEnd {
  width: 100%;
  background-color: #77C1EF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.footer .footerEnd p {
  color: #ffffff;
  font-size: small;
}

/*Animations*/
.imgLogo1 {
  width: 60%;
  animation: animationImgs 2000ms;
  animation-iteration-count: 1;
}

.imgLogo2 {
  animation: animationImg2 3000ms forwards;
  animation-iteration-count: 1;
}

.abtTilte {
  animation: MoveTitles 2000ms both;
  animation-delay: 4000ms;
  animation-iteration-count: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes animationImg2 {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes MoveTitles {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animationImgs {
  from {
    transform: scale(0.95);
    transform-origin: right 50%;
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes clipCursor {
  from {
    border-left-color: black;
  }
  to {
    border-left-color: transparent;
  }
}
@keyframes typeWriter {
  40%, 60% {
    left: 98%;
  }
  100% {
    left: 0%;
  }
}
@keyframes typeWriter2 {
  40%, 60% {
    left: 98%;
  }
  100% {
    left: 98%;
  }
}
@-webkit-keyframes move {
  0% {
    margin-left: -1500px;
  }
  100% {
    margin-left: 1500px;
  }
}
@media only screen and (max-width: 480px) {
  /* Styles pour les téléphones */
  .header .contact p font {
    size: 15px;
  }
  .serviceDiv {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .serviceDiv .service {
    width: 100%;
    min-width: 240px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .experience_bloc {
    min-width: 0px;
    width: 100%;
  }
  .experience_bloc .experience_bloc_content {
    width: 100%;
    margin-left: 0px;
  }
  .naming p {
    font-size: 15px;
  }
  .techSkillList {
    width: 100%;
  }
  .intro .text {
    width: 100%;
  }
  .intro .text .animated_name font {
    size: 20px;
    margin-top: 0px;
  }
  .AboutMe .IntroMe {
    width: 100%;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer_Social {
    margin-left: 0px;
    text-align: center;
  }
  .footer .footer_Social .copyright {
    justify-content: center;
  }
  .footer .footer_Social .footer_info .footer_info_content {
    justify-content: center;
  }
  .footer .footer_contact {
    width: 100%;
    margin-left: 0px;
  }
  main {
    padding: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Styles pour les tablettes */
  .header .contact p font {
    size: 15px;
  }
  .serviceDiv {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .serviceDiv .service {
    width: 30%;
    min-width: 240px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .techSkillList {
    width: 100%;
  }
  .AboutMe .IntroMe {
    width: 100%;
    align-items: center;
  }
  .naming p {
    font-size: 15px;
  }
  .intro .text .animated_name font {
    size: 20px;
    margin-top: 0px;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footerInfo {
    width: 30%;
  }
}
@media screen and (min-width: 661px) and (max-width: 1024px) {
  .footer .footer_contact {
    width: 70%;
  }
  .footer .footerInfo {
    width: 55%;
  }
  .footer .footer_Social {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .footer .footer_Social .copyright {
    justify-content: center;
  }
  .footer .footer_Social .footer_info .footer_info_content {
    justify-content: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .footer .footer_contact {
    width: 70%;
  }
  .footer .footer_Social {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .footer .footer_Social .copyright {
    justify-content: center;
  }
  .footer .footer_Social .footer_info .footer_info_content {
    justify-content: center;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles pour les ordinateurs portables */
  main {
    padding: 0;
  }
  .intro {
    height: 700px;
  }
  .service {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1441px) {
  /* Styles pour les ordinateurs de bureau */
  main {
    padding: 0;
  }
  .intro {
    height: 700px;
  }
  .service {
    margin-left: 100px;
  }
  .naming p {
    font-size: 25px;
  }
  .techSkillList {
    width: 440px;
  }
}

/*# sourceMappingURL=index.css.map */
